<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/icons8-react-50.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css"
      rel="stylesheet"
    />
    <title>CZH <%= title %></title>
  </head>
  <body>
    <div id="root"></div>

    <script src="https://cdn.bootcdn.net/ajax/libs/babel-standalone/7.0.0-beta.3/babel.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/babel-polyfill/7.10.4/polyfill.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react/16.13.1/umd/react.development.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react-dom/16.13.1/umd/react-dom.development.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react-router/5.2.0/react-router.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js"></script>

    <!-- 解构react, react-router, react-dom -->
    <script src="./index.js"></script>
    <script src="./pages/Home/index.jsx" type="text/babel"></script>
    <script src="./App.jsx" type="text/babel"></script>
  </body>
</html>
